$f: #fff;
$b: #000;
$bg: #222222;

* {
  color: $f;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: $bg;
}

section {
  position: relative;
  margin-bottom: 8px;
  background-color: #000;
}

.sec1 {
  height: 742px;
  background: linear-gradient(
      to top,
      #000000ee 0,
      #00000070 50%,
      #000000ee 100%
    ),
    url("/images/Netflix-Background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  nav {
    height: 90px;
    width: 100%;
    padding: 0 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      display: grid;
      place-items: center;
      img {
        margin-top: 10px;
        height: 47px;
        width: 168px;
      }
    }
    .buttons {
      display: flex;
      button {
        color: $f;
        font-size: 16px;
        padding: 8px 15px;
        border: none;
        border-radius: 3px;
      }
      .btn1 {
        font-size: 15px;
        padding: 5px;
        border: 1px solid #fff;
        margin-right: 30px;
        background-color: transparent;
      }
      .btn2 {
        background-color: #e50914;
      }
    }
  }
  .content {
    height: 535px;
    width: 950px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto;
    padding: 75px 0;
    * {
      margin: 0 auto;
    }
    h1 {
      width: 33rem;
      font-weight: 600;
      font-size: 65px;
    }
    h2 {
      margin-top: 10px;
      font-size: 25px;
      font-weight: 500;
    }
    p {
      font-size: 19px;
      margin-top: 30px;
    }
    .input {
      margin-top: 20px;
      height: 70px;
      width: 750px;
      display: flex;
      input {
        border-radius: 3px;
        color: #000;
        outline: none;
        width: 500px;
        border: none;
        padding: 0 10px;
        font-size: 16px;
      }
      button {
        font-size: 30px;
        padding-left: 10px;
        width: 250px;
        background-color: #e50914;
        outline: none;
        border: none;
        display: flex;
        justify-content: center;
        place-items: center;
        i {
          margin: 0;
          font-size: 40px;
        }
      }
    }
  }
}

.sec2 {
  height: 473px;
  padding: 70px 45px;
  .content {
    height: 100%;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .text {
      width: min(600px);
      padding-right: 50px;
      h1 {
        font-size: 50px;
        font-weight: 600;
      }
      h2 {
        margin-top: 1em;
        font-size: 26px;
        font-weight: 500;
      }
    }
    .imge {
      video {
        height: 400px;
        width: 530px;
      }
    }
  }
}

.sec3 {
  height: 470px;
  padding: 70px 45px;
  .content {
    height: 100%;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .imge {
      position: relative;
      display: grid;
      justify-content: center;
      height: 350px;
      width: 500px;
      background: url("/images/iPhone.jpg");
      background-size: 100%;
      background-position: -75px -30px;

      background-repeat: no-repeat;

      .download {
        height: 100px;
        width: 320px;
        padding: 10px 15px;
        background-color: $b;
        border: 2px solid #444444;
        border-radius: 15px;
        position: absolute;
        top: 65%;
        left: 15px;
        display: flex;
        align-items: center;
        img {
          height: 100%;
          width: auto;
        }
        .Dtext {
          width: auto;
          margin: 0 15px;
          #sp1 {
            font-size: 17px;
            font-weight: 600;
          }
          #sp2 {
            font-size: 15px;
            color: #0071eb;
          }
        }
        .bx {
          font-size: 35px;
          margin-left: auto;
        }
      }
    }
    .text {
      width: min(600px);
      padding-left: 50px;
      h1 {
        font-size: 50px;
        font-weight: 600;
      }
      h2 {
        margin-top: 1em;
        font-size: 26px;
        font-weight: 500;
      }
    }
  }
}

.sec4 {
  height: 543px;
  padding: 70px 45px;
  .content {
    height: 100%;
    width: fit-content;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    .text {
      width: min(590px);
      padding-right: 50px;
      h1 {
        font-size: 50px;
        font-weight: 600;
      }
      h2 {
        margin-top: 1em;
        font-size: 26px;
        font-weight: 500;
      }
    }
  }
}

.sec5 {
  height: 530px;
  padding: 70px 45px;
  .content {
    height: 100%;
    width: fit-content;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    img {
      height: 380px;
      width: 504px;
    }
    .text {
      width: min(580px);
      padding-left: 50px;
      h1 {
        font-size: 50px;
        font-weight: 600;
      }
      h2 {
        margin-top: 1em;
        font-size: 26px;
        font-weight: 500;
      }
    }
  }
}

.sec6 {
  height: 928px;
  padding: 70px 45px;
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    p {
      margin-top: 20px;
    }
    h1 {
      font-size: 50px;
      font-weight: 600;
    }
    ul {
      width: 815px;
      list-style: none;
      margin: 50px auto;
      li {
        font-weight: 500;
        background-color: #303030;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 26px;
        height: 75px;
        padding: 0 30px;
        .bx {
          font-size: 40px;
        }
      }
      li:last-child {
        margin: 0;
      }
    }
    .input {
      margin-top: 20px;
      height: 70px;
      width: 750px;
      display: flex;
      input {
        border-radius: 3px;
        color: #000;
        outline: none;
        width: 500px;
        border: none;
        padding: 0 10px;
        font-size: 16px;
      }
      button {
        font-size: 30px;
        padding-left: 10px;
        width: 250px;
        background-color: #e50914;
        outline: none;
        border: none;
        display: flex;
        justify-content: center;
        place-items: center;
        i {
          font-size: 40px;
        }
      }
    }
  }
}

.sec7 {
  margin: 0;
  height: 394px;
  display: flex;
  * {
    color: #707070;
  }
  .content {
    margin: auto auto;
    .number {
      font-size: 20px;
    }
    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    ul {
      margin: 30px 0;
      max-width: 900px;
      flex-wrap: wrap;
      display: flex;
      list-style-type: none;
      li {
        font-size: 13px;
        width: 25%;
        margin-bottom: 16px;
      }
    }
    .btn1 {
      font-size: 14px;
      padding: 5px;
      border: 1px solid #505050;
      margin: 0 30px 30px 0;
      background-color: transparent;
      font-size: 16px;
      padding: 8px 15px;
      border-radius: 3px;
    }
    p {
      font-size: 13px;
    }
  }
}
